---
layout: default
---

<header class="post-header">
  {% if page.series %}<div class="post-series">{{ page.series }}</div>{% endif %}
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-meta">
    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% if page.reading_time %}<span>{{ page.reading_time }} min read</span>{% endif %}
  </div>
</header>
<article class="post-article">
  <div class="post-content">{{ content }}</div>
</article>
